.jumbotron {
  background-image: url('../img/pretty_mountain.jpg');
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 725px;
}